In [20]:
a="hellow world"
print(len(a),a[1],a[2:5],a[-4:-1])

12 e llo orl

In [28]:
# data = [10,20,30,40,50]
# def median(data):
#     data.sort()
#     n=len(data)
#     if n%2==1:
#         return data[n//2]
#     else:
#         a = [n//2-1]
#         b = [n//2]
#         return (a+b)/2
# print(median(data))

'data = [10,20,30,40,50]\ndef median(data):\n    data.sort()\n    n=len(data)\n    if n%2==1:\n        return data[n//2]\n    else:\n        a = [n//2-1]\n        b = [n//2]\n        return (a+b)/2\nprint(median(data))'

In [1]:
#to do in cappital letter
h = 'hellow world!'
print(h.upper())

HELLOW WORLD!

In [7]:
#for smaal letter
c= 'HELLOW,WORLD!'
print(c.lower())

hellow,world!

In [9]:
#sring concatenation
a="hellow"
b="world"
v= a+b
v

'hellowworld'

In [11]:
a = 'hellow'
b='world'
c= a+" "+b
print(c)

hellow world

In [13]:
#to combine to differten data type 
age = 36
txt = "my name is john,and i am {} years old"
print(txt.format(age))

my name is john,and i am 36 years old

In [15]:
quan = 3
item= 567
price= 49.95
myorder = "i want {} pices of item {} for{} dollars."
print(myorder.format(quan,item,myorder))

i want 3 pices of item 567 fori want {} pices of item {} for{} dollars. dollars.

In [17]:
txt="we are the so-called \"viking\" from the north."
print(txt)

we are the so-called "viking" from the north.

In [3]:
#capitalized() method
txt='hellow world my name is prakhar'
x= txt.capitalize()
print(x)

Hellow world my name is prakhar

In [5]:
#the first letter is capalized and resr are small
txt='wellocm in my world'
v = txt.title()
print(v)

Wellocm In My World

In [7]:
#to count () method
txt = 'i love apple,apple is my favorite fruit'
x=txt.count('apple')
print(x)

2

In [13]:
#string count (value,start,stop)
txt = 'i love apple,apple is my favorite fruit'
x=txt.count('apple',10,24)
print(x)

1

In [17]:
#find()
txt='i love apple,apple is my favorite fruit'
x = txt.find('fruit')
print(x)

34

In [19]:
#find(value,start stop)
txt = 'i love apple,apple is my favorite fruit'
x=txt.find('is',10,25)
print(x)

19

In [21]:
#to find index
txt='i love apple,apple is my favorite fruit'
x=txt.index("apple")
print(x)

7

In [27]:
#remove space and begning and start at end
txt='    banana    '
x=txt.strip()
print('of all fruits',x,'is my fav')

of all fruits banana is my fav

In [33]:
#to join
my = ('apple','ba','da')
x= '#' .join(my)
print(x)

apple#ba#da

In [35]:
txt="i like banana"
x= txt.replace('banana','apple')
print(x)

i like apple

In [37]:
#split method
txt='i love apple,apple is my favorite fruit'
x=txt.split()
print(x)

['i', 'love', 'apple,apple', 'is', 'my', 'favorite', 'fruit']

In [41]:
#split at place given
txt='addfgff fgreg,tyyurwttn rgyew,yu wrt,twth'
x=txt.split(',')
print(x)

['addfgff fgreg', 'tyyurwttn rgyew', 'yu wrt', 'twth']